@font-face {
  font-family: 'Socicon';
  src: url("fonts/Socicon.eot?484r1f");
  src: url("fonts/Socicon.eot?484r1f#iefix") format("embedded-opentype"), url("fonts/Socicon.woff2?484r1f") format("woff2"), url("fonts/Socicon.ttf?484r1f") format("truetype"), url("fonts/Socicon.woff?484r1f") format("woff"), url("fonts/Socicon.svg?484r1f#Socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
[class^="socicon-"], [class*=" socicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-internet:before {
  content: "\e957";
}

/* line 31, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-moddb:before {
  content: "\e94b";
}

/* line 34, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-indiedb:before {
  content: "\e94c";
}

/* line 37, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-traxsource:before {
  content: "\e94d";
}

/* line 40, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-gamefor:before {
  content: "\e94e";
}

/* line 43, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-pixiv:before {
  content: "\e94f";
}

/* line 46, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-myanimelist:before {
  content: "\e950";
}

/* line 49, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-blackberry:before {
  content: "\e951";
}

/* line 52, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-wickr:before {
  content: "\e952";
}

/* line 55, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-spip:before {
  content: "\e953";
}

/* line 58, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-napster:before {
  content: "\e954";
}

/* line 61, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-beatport:before {
  content: "\e955";
}

/* line 64, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-hackerone:before {
  content: "\e956";
}

/* line 67, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-hackernews:before {
  content: "\e946";
}

/* line 70, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-smashwords:before {
  content: "\e947";
}

/* line 73, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-kobo:before {
  content: "\e948";
}

/* line 76, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bookbub:before {
  content: "\e949";
}

/* line 79, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-mailru:before {
  content: "\e94a";
}

/* line 82, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-gitlab:before {
  content: "\e945";
}

/* line 85, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-instructables:before {
  content: "\e944";
}

/* line 88, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-portfolio:before {
  content: "\e943";
}

/* line 91, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-codered:before {
  content: "\e940";
}

/* line 94, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-origin:before {
  content: "\e941";
}

/* line 97, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-nextdoor:before {
  content: "\e942";
}

/* line 100, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-udemy:before {
  content: "\e93f";
}

/* line 103, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-livemaster:before {
  content: "\e93e";
}

/* line 106, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-crunchbase:before {
  content: "\e93b";
}

/* line 109, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-homefy:before {
  content: "\e93c";
}

/* line 112, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-calendly:before {
  content: "\e93d";
}

/* line 115, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-realtor:before {
  content: "\e90f";
}

/* line 118, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-tidal:before {
  content: "\e910";
}

/* line 121, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-qobuz:before {
  content: "\e911";
}

/* line 124, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-natgeo:before {
  content: "\e912";
}

/* line 127, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-mastodon:before {
  content: "\e913";
}

/* line 130, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-unsplash:before {
  content: "\e914";
}

/* line 133, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-homeadvisor:before {
  content: "\e915";
}

/* line 136, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-angieslist:before {
  content: "\e916";
}

/* line 139, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-codepen:before {
  content: "\e917";
}

/* line 142, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-slack:before {
  content: "\e918";
}

/* line 145, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-openaigym:before {
  content: "\e919";
}

/* line 148, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-logmein:before {
  content: "\e91a";
}

/* line 151, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-fiverr:before {
  content: "\e91b";
}

/* line 154, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-gotomeeting:before {
  content: "\e91c";
}

/* line 157, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-aliexpress:before {
  content: "\e91d";
}

/* line 160, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-guru:before {
  content: "\e91e";
}

/* line 163, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-appstore:before {
  content: "\e91f";
}

/* line 166, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-homes:before {
  content: "\e920";
}

/* line 169, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-zoom:before {
  content: "\e921";
}

/* line 172, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-alibaba:before {
  content: "\e922";
}

/* line 175, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-craigslist:before {
  content: "\e923";
}

/* line 178, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-wix:before {
  content: "\e924";
}

/* line 181, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-redfin:before {
  content: "\e925";
}

/* line 184, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-googlecalendar:before {
  content: "\e926";
}

/* line 187, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-shopify:before {
  content: "\e927";
}

/* line 190, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-freelancer:before {
  content: "\e928";
}

/* line 193, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-seedrs:before {
  content: "\e929";
}

/* line 196, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bing:before {
  content: "\e92a";
}

/* line 199, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-doodle:before {
  content: "\e92b";
}

/* line 202, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bonanza:before {
  content: "\e92c";
}

/* line 205, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-squarespace:before {
  content: "\e92d";
}

/* line 208, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-toptal:before {
  content: "\e92e";
}

/* line 211, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-gust:before {
  content: "\e92f";
}

/* line 214, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-ask:before {
  content: "\e930";
}

/* line 217, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-trulia:before {
  content: "\e931";
}

/* line 220, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-loomly:before {
  content: "\e932";
}

/* line 223, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-ghost:before {
  content: "\e933";
}

/* line 226, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-upwork:before {
  content: "\e934";
}

/* line 229, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-fundable:before {
  content: "\e935";
}

/* line 232, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-booking:before {
  content: "\e936";
}

/* line 235, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-googlemaps:before {
  content: "\e937";
}

/* line 238, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-zillow:before {
  content: "\e938";
}

/* line 241, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-niconico:before {
  content: "\e939";
}

/* line 244, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-toneden:before {
  content: "\e93a";
}

/* line 247, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-augment:before {
  content: "\e908";
}

/* line 250, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bitbucket:before {
  content: "\e909";
}

/* line 253, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-fyuse:before {
  content: "\e90a";
}

/* line 256, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-yt-gaming:before {
  content: "\e90b";
}

/* line 259, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-sketchfab:before {
  content: "\e90c";
}

/* line 262, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-mobcrush:before {
  content: "\e90d";
}

/* line 265, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-microsoft:before {
  content: "\e90e";
}

/* line 268, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-pandora:before {
  content: "\e907";
}

/* line 271, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-messenger:before {
  content: "\e906";
}

/* line 274, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-gamewisp:before {
  content: "\e905";
}

/* line 277, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bloglovin:before {
  content: "\e904";
}

/* line 280, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-tunein:before {
  content: "\e903";
}

/* line 283, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-gamejolt:before {
  content: "\e901";
}

/* line 286, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-trello:before {
  content: "\e902";
}

/* line 289, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-spreadshirt:before {
  content: "\e900";
}

/* line 292, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-500px:before {
  content: "\e000";
}

/* line 295, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-8tracks:before {
  content: "\e001";
}

/* line 298, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-airbnb:before {
  content: "\e002";
}

/* line 301, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-alliance:before {
  content: "\e003";
}

/* line 304, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-amazon:before {
  content: "\e004";
}

/* line 307, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-amplement:before {
  content: "\e005";
}

/* line 310, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-android:before {
  content: "\e006";
}

/* line 313, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-angellist:before {
  content: "\e007";
}

/* line 316, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-apple:before {
  content: "\e008";
}

/* line 319, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-appnet:before {
  content: "\e009";
}

/* line 322, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-baidu:before {
  content: "\e00a";
}

/* line 325, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bandcamp:before {
  content: "\e00b";
}

/* line 328, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-battlenet:before {
  content: "\e00c";
}

/* line 331, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-mixer:before {
  content: "\e00d";
}

/* line 334, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bebee:before {
  content: "\e00e";
}

/* line 337, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-bebo:before {
  content: "\e00f";
}

/* line 340, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-behance:before {
  content: "\e010";
}

/* line 343, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-blizzard:before {
  content: "\e011";
}

/* line 346, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-blogger:before {
  content: "\e012";
}

/* line 349, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-buffer:before {
  content: "\e013";
}

/* line 352, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-chrome:before {
  content: "\e014";
}

/* line 355, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-coderwall:before {
  content: "\e015";
}

/* line 358, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-curse:before {
  content: "\e016";
}

/* line 361, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-dailymotion:before {
  content: "\e017";
}

/* line 364, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-deezer:before {
  content: "\e018";
}

/* line 367, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-delicious:before {
  content: "\e019";
}

/* line 370, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-deviantart:before {
  content: "\e01a";
}

/* line 373, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-diablo:before {
  content: "\e01b";
}

/* line 376, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-digg:before {
  content: "\e01c";
}

/* line 379, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-discord:before {
  content: "\e01d";
}

/* line 382, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-disqus:before {
  content: "\e01e";
}

/* line 385, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-douban:before {
  content: "\e01f";
}

/* line 388, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-draugiem:before {
  content: "\e020";
}

/* line 391, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-dribbble:before {
  content: "\e021";
}

/* line 394, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-drupal:before {
  content: "\e022";
}

/* line 397, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-ebay:before {
  content: "\e023";
}

/* line 400, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-ello:before {
  content: "\e024";
}

/* line 403, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-endomodo:before {
  content: "\e025";
}

/* line 406, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-envato:before {
  content: "\e026";
}

/* line 409, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-etsy:before {
  content: "\e027";
}

/* line 412, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-facebook:before {
  content: "\e028";
}

/* line 415, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-feedburner:before {
  content: "\e029";
}

/* line 418, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-filmweb:before {
  content: "\e02a";
}

/* line 421, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-firefox:before {
  content: "\e02b";
}

/* line 424, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-flattr:before {
  content: "\e02c";
}

/* line 427, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-flickr:before {
  content: "\e02d";
}

/* line 430, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-formulr:before {
  content: "\e02e";
}

/* line 433, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-forrst:before {
  content: "\e02f";
}

/* line 436, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-foursquare:before {
  content: "\e030";
}

/* line 439, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-friendfeed:before {
  content: "\e031";
}

/* line 442, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-github:before {
  content: "\e032";
}

/* line 445, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-goodreads:before {
  content: "\e033";
}

/* line 448, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-google:before {
  content: "\e034";
}

/* line 451, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-googlescholar:before {
  content: "\e035";
}

/* line 454, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-googlegroups:before {
  content: "\e036";
}

/* line 457, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-googlephotos:before {
  content: "\e037";
}

/* line 460, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-googleplus:before {
  content: "\e038";
}

/* line 463, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-grooveshark:before {
  content: "\e039";
}

/* line 466, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-hackerrank:before {
  content: "\e03a";
}

/* line 469, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-hearthstone:before {
  content: "\e03b";
}

/* line 472, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-hellocoton:before {
  content: "\e03c";
}

/* line 475, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-heroes:before {
  content: "\e03d";
}

/* line 478, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-smashcast:before {
  content: "\e03e";
}

/* line 481, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-horde:before {
  content: "\e03f";
}

/* line 484, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-houzz:before {
  content: "\e040";
}

/* line 487, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-icq:before {
  content: "\e041";
}

/* line 490, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-identica:before {
  content: "\e042";
}

/* line 493, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-imdb:before {
  content: "\e043";
}

/* line 496, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-instagram:before {
  content: "\e044";
}

/* line 499, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-issuu:before {
  content: "\e045";
}

/* line 502, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-istock:before {
  content: "\e046";
}

/* line 505, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-itunes:before {
  content: "\e047";
}

/* line 508, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-keybase:before {
  content: "\e048";
}

/* line 511, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-lanyrd:before {
  content: "\e049";
}

/* line 514, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-lastfm:before {
  content: "\e04a";
}

/* line 517, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-line:before {
  content: "\e04b";
}

/* line 520, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-linkedin:before {
  content: "\e04c";
}

/* line 523, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-livejournal:before {
  content: "\e04d";
}

/* line 526, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-lyft:before {
  content: "\e04e";
}

/* line 529, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-macos:before {
  content: "\e04f";
}

/* line 532, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-mail:before {
  content: "\e050";
}

/* line 535, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-medium:before {
  content: "\e051";
}

/* line 538, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-meetup:before {
  content: "\e052";
}

/* line 541, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-mixcloud:before {
  content: "\e053";
}

/* line 544, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-modelmayhem:before {
  content: "\e054";
}

/* line 547, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-mumble:before {
  content: "\e055";
}

/* line 550, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-myspace:before {
  content: "\e056";
}

/* line 553, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-newsvine:before {
  content: "\e057";
}

/* line 556, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-nintendo:before {
  content: "\e058";
}

/* line 559, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-npm:before {
  content: "\e059";
}

/* line 562, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-odnoklassniki:before {
  content: "\e05a";
}

/* line 565, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-openid:before {
  content: "\e05b";
}

/* line 568, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-opera:before {
  content: "\e05c";
}

/* line 571, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-outlook:before {
  content: "\e05d";
}

/* line 574, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-overwatch:before {
  content: "\e05e";
}

/* line 577, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-patreon:before {
  content: "\e05f";
}

/* line 580, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-paypal:before {
  content: "\e060";
}

/* line 583, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-periscope:before {
  content: "\e061";
}

/* line 586, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-persona:before {
  content: "\e062";
}

/* line 589, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-pinterest:before {
  content: "\e063";
}

/* line 592, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-play:before {
  content: "\e064";
}

/* line 595, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-player:before {
  content: "\e065";
}

/* line 598, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-playstation:before {
  content: "\e066";
}

/* line 601, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-pocket:before {
  content: "\e067";
}

/* line 604, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-qq:before {
  content: "\e068";
}

/* line 607, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-quora:before {
  content: "\e069";
}

/* line 610, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-raidcall:before {
  content: "\e06a";
}

/* line 613, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-ravelry:before {
  content: "\e06b";
}

/* line 616, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-reddit:before {
  content: "\e06c";
}

/* line 619, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-renren:before {
  content: "\e06d";
}

/* line 622, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-researchgate:before {
  content: "\e06e";
}

/* line 625, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-residentadvisor:before {
  content: "\e06f";
}

/* line 628, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-reverbnation:before {
  content: "\e070";
}

/* line 631, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-rss:before {
  content: "\e071";
}

/* line 634, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-sharethis:before {
  content: "\e072";
}

/* line 637, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-skype:before {
  content: "\e073";
}

/* line 640, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-slideshare:before {
  content: "\e074";
}

/* line 643, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-smugmug:before {
  content: "\e075";
}

/* line 646, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-snapchat:before {
  content: "\e076";
}

/* line 649, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-songkick:before {
  content: "\e077";
}

/* line 652, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-soundcloud:before {
  content: "\e078";
}

/* line 655, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-spotify:before {
  content: "\e079";
}

/* line 658, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-stackexchange:before {
  content: "\e07a";
}

/* line 661, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-stackoverflow:before {
  content: "\e07b";
}

/* line 664, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-starcraft:before {
  content: "\e07c";
}

/* line 667, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-stayfriends:before {
  content: "\e07d";
}

/* line 670, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-steam:before {
  content: "\e07e";
}

/* line 673, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-storehouse:before {
  content: "\e07f";
}

/* line 676, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-strava:before {
  content: "\e080";
}

/* line 679, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-streamjar:before {
  content: "\e081";
}

/* line 682, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-stumbleupon:before {
  content: "\e082";
}

/* line 685, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-swarm:before {
  content: "\e083";
}

/* line 688, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-teamspeak:before {
  content: "\e084";
}

/* line 691, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-teamviewer:before {
  content: "\e085";
}

/* line 694, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-technorati:before {
  content: "\e086";
}

/* line 697, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-telegram:before {
  content: "\e087";
}

/* line 700, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-tripadvisor:before {
  content: "\e088";
}

/* line 703, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-tripit:before {
  content: "\e089";
}

/* line 706, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-triplej:before {
  content: "\e08a";
}

/* line 709, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-tumblr:before {
  content: "\e08b";
}

/* line 712, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-twitch:before {
  content: "\e08c";
}

/* line 715, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-twitter:before {
  content: "\e08d";
}

/* line 718, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-uber:before {
  content: "\e08e";
}

/* line 721, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-ventrilo:before {
  content: "\e08f";
}

/* line 724, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-viadeo:before {
  content: "\e090";
}

/* line 727, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-viber:before {
  content: "\e091";
}

/* line 730, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-viewbug:before {
  content: "\e092";
}

/* line 733, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-vimeo:before {
  content: "\e093";
}

/* line 736, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-vine:before {
  content: "\e094";
}

/* line 739, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-vkontakte:before {
  content: "\e095";
}

/* line 742, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-warcraft:before {
  content: "\e096";
}

/* line 745, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-wechat:before {
  content: "\e097";
}

/* line 748, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-weibo:before {
  content: "\e098";
}

/* line 751, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-whatsapp:before {
  content: "\e099";
}

/* line 754, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-wikipedia:before {
  content: "\e09a";
}

/* line 757, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-windows:before {
  content: "\e09b";
}

/* line 760, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-wordpress:before {
  content: "\e09c";
}

/* line 763, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-wykop:before {
  content: "\e09d";
}

/* line 766, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-xbox:before {
  content: "\e09e";
}

/* line 769, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-xing:before {
  content: "\e09f";
}

/* line 772, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-yahoo:before {
  content: "\e0a0";
}

/* line 775, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-yammer:before {
  content: "\e0a1";
}

/* line 778, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-yandex:before {
  content: "\e0a2";
}

/* line 781, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-yelp:before {
  content: "\e0a3";
}

/* line 784, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-younow:before {
  content: "\e0a4";
}

/* line 787, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-youtube:before {
  content: "\e0a5";
}

/* line 790, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-zapier:before {
  content: "\e0a6";
}

/* line 793, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-zerply:before {
  content: "\e0a7";
}

/* line 796, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-zomato:before {
  content: "\e0a8";
}

/* line 799, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/socicon.css */
.socicon-zynga:before {
  content: "\e0a9";
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 32, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 45, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 56, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 68, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 77, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 87, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 97, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 108, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 117, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 125, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
sub {
  bottom: -0.25em;
}

/* line 129, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 140, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 152, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 168, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 178, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 187, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 198, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 210, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 221, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 232, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 245, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 253, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 262, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 272, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 282, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 291, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 300, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 312, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 320, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 331, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 339, /home/adrien/code/plouf.tv/vendor/assets/stylesheets/normalize.css */
[hidden] {
  display: none;
}

/* line 1, /home/adrien/code/plouf.tv/app/assets/stylesheets/reset.scss */
html {
  box-sizing: border-box;
}

/* line 5, /home/adrien/code/plouf.tv/app/assets/stylesheets/reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 11, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-black {
  color: #150C07 !important;
}

/* line 15, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-border-black {
  border: 1px solid #150C07 !important;
}

/* line 19, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-bg-black {
  background-color: #150C07 !important;
}

/* line 23, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.border-color-black {
  border-color: #150C07 !important;
}

/* line 28, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.pills-black li:before {
  background-color: #150C07 !important;
}

/* line 11, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-blue {
  color: #3A96D3 !important;
}

/* line 15, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-border-blue {
  border: 1px solid #3A96D3 !important;
}

/* line 19, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-bg-blue {
  background-color: #3A96D3 !important;
}

/* line 23, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.border-color-blue {
  border-color: #3A96D3 !important;
}

/* line 28, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.pills-blue li:before {
  background-color: #3A96D3 !important;
}

/* line 11, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-white {
  color: white !important;
}

/* line 15, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-border-white {
  border: 1px solid white !important;
}

/* line 19, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.color-bg-white {
  background-color: white !important;
}

/* line 23, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.border-color-white {
  border-color: white !important;
}

/* line 28, /home/adrien/code/plouf.tv/app/assets/stylesheets/colors.scss */
.pills-white li:before {
  background-color: white !important;
}

/* line 1, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
main, .container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}

/* line 7, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
article, aside {
  padding: 10px 10px;
}

/* line 11, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
section:before, section:after {
  display: table;
  content: " ";
  clear: both;
}

/* line 17, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  /* line 26, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
  .one {
    width: 100%;
  }

  /* line 30, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
  .half {
    width: calc(100% / 2);
  }

  /* line 34, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
  .one-third {
    width: calc(100% / 3);
  }

  /* line 38, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
  .one-fourth {
    width: calc(100% / 4);
  }

  /* line 42, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
  .two-thirds {
    width: calc(100% / 3 * 2);
  }

  /* line 46, /home/adrien/code/plouf.tv/app/assets/stylesheets/blocks.scss */
  article, aside {
    float: left;
  }
}
/* line 1, /home/adrien/code/plouf.tv/app/assets/stylesheets/links.scss */
a {
  color: black;
}
/* line 4, /home/adrien/code/plouf.tv/app/assets/stylesheets/links.scss */
a::visited {
  color: black;
}

/* line 1, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation {
  height: 70px;
  background-color: #150C07;
  z-index: 2;
}
/* line 6, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation .container {
  padding: 0;
}
/* line 10, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation .brand {
  padding-left: 10px;
  margin: 0;
  float: left;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
  position: absolute;
}
/* line 20, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation .brand img {
  max-width: 70px;
}
/* line 25, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav {
  float: right;
  padding-bottom: 10px;
}
/* line 29, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 34, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav ul li {
  position: relative;
  float: left;
  background-color: #150C07;
}
/* line 39, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav ul li ul.social-links {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
/* line 46, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav ul li a, .navigation nav ul li a:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 70px;
  padding: 0 20px;
  margin: 0 0;
  transition: color 0.1s ease;
  color: rgba(255, 255, 255, 0.7);
}
/* line 56, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav ul li a.active, .navigation nav ul li a:hover, .navigation nav ul li a:visited.active, .navigation nav ul li a:visited:hover {
  color: white;
  background-color: #3A96D3;
}
/* line 61, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav ul li a.active, .navigation nav ul li a:visited.active {
  font-weight: bold;
}
/* line 65, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav ul li a [class^="socicon-"], .navigation nav ul li a [class*=" socicon-"], .navigation nav ul li a:visited [class^="socicon-"], .navigation nav ul li a:visited [class*=" socicon-"] {
  line-height: 20px;
}
/* line 72, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #150C07;
  height: 70px;
  width: 70px;
}
/* line 81, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
/* line 88, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle span,
.navigation nav .nav-mobile #nav-toggle span:before,
.navigation nav .nav-mobile #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
/* line 102, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle span:before {
  top: -10px;
}
/* line 106, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle span:after {
  bottom: -10px;
}
/* line 111, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle.active span {
  background-color: transparent;
}
/* line 115, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle.active span:before,
.navigation nav .nav-mobile #nav-toggle.active span:after {
  top: 0;
}
/* line 120, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle.active span:before {
  transform: rotate(45deg);
}
/* line 124, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
.navigation nav .nav-mobile #nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  /* line 136, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
  .navigation nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  /* line 140, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
  .navigation nav ul.nav-list {
    display: none;
  }
  /* line 143, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
  .navigation nav ul.nav-list li {
    float: none;
  }
  /* line 146, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
  .navigation nav ul.nav-list li a {
    padding: 15px;
    line-height: 20px;
  }
  /* line 153, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
  .navigation nav .nav-mobile {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  /* line 161, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
  .nav-list {
    display: block !important;
  }
  /* line 164, /home/adrien/code/plouf.tv/app/assets/stylesheets/nav.scss */
  .nav-list [class^="socicon-"], .nav-list [class*=" socicon-"] {
    line-height: 70px !important;
  }
}
/* line 1, /home/adrien/code/plouf.tv/app/assets/stylesheets/home.scss */
.splash {
  height: 100vh;
  background-color: #150C07;
}
/* line 5, /home/adrien/code/plouf.tv/app/assets/stylesheets/home.scss */
.splash .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 11, /home/adrien/code/plouf.tv/app/assets/stylesheets/home.scss */
.splash .content img {
  max-width: 100vw;
}
