%section.navigation
  .container
    .brand
      = image_tag 'logo.png'

    %nav
      .nav-mobile
        %a#nav-toggle
          %span

      %ul.nav-list
        - @items[:internal_links].each do |item|
          %li
            %a{ href: item[0], class: is_current_path(item[0]) && 'active' }= item[1]

        %li
          %ul.social-links
            - @items[:socials].each do |item|
              %li
                %a{ href: item[0], target: "_blank" }
                  %i{ class: "socicon-#{item[1]}" }
