- activated = nil
- active = nil

/ Page Contents
.pusher
  .ui.vertical.segment
    .ui.middle.aligned.stackable.grid.container
      .row
        .column
          .ui.styled.accordion
            - @programs.each.with_index do |program, index|
              - next if program[:content].empty?
              - active = if not activated then 'active' end
              - activated ||= if active and not activated then true end

              .title{ class: active }
                %i.dropdown.icon
                %strong= program[:title]
              .content{ class: active }
                %p= program[:content].join('</p><p>').html_safe
