/ Page Contents
.pusher
  .ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
      .ui.large.secondary.inverted.pointing.menu
        %a.toc.item
          %i.sidebar.icon
        %a.item{:href => "#programmation"} Programmation
        .right.menu
          .item
            %a{:href => "https://twitter.com/plouftv", :target => "_blank"}
              %i.big.icon.twitter.square
          .item
            %a{:href => "https://www.youtube.com/channel/UC_k22kND7s8Nz7Kor3YyLdQ", :target => "_blank"}
              %i.big.icon.youtube
          .item
            %a{:href => "https://www.facebook.com/PloufTV/", :target => "_blank"}
              %i.big.icon.facebook.square
          .item
            %a{:href => "https://www.twitch.tv/plouf/", :target => "_blank"}
              %i.big.icon.twitch
    .ui.text.container
      %h1.ui.inverted.header
        = image_tag 'logo.png'
      %h2 Streamer multigaming de niveau nul
  .ui.container
    %a{:name => "programmation"}
    .ui.top.attached.tabular.menu
      .item.active{"data-tab" => "prog-tuesday"} Mardi
      .item{"data-tab" => "prog-wednesday"} Mercredi
      .item{"data-tab" => "prog-friday"} Vendredi
      .item{"data-tab" => "prog-saturday"} Samedi
      .item{"data-tab" => "prog-sunday"} Dimanche
    .ui.bottom.attached.tab.segment{"data-tab" => "prog-monday"}
      .ui.accordion
        .title
          %i.dropdown.icon
          %strong 19h-23h
          \: Diablo III - Saison 15
        .content
          %p
            On rush la saison 15 en saisonnier nécromancien
    .ui.bottom.attached.active.tab.segment{"data-tab" => "prog-tuesday"}
      .ui.accordion
        .title
          %i.dropdown.icon
          %strong 19h-23h
          \: Diablo III - Saison 15
        .content
          %p
            On rush la saison 15 en saisonnier nécromancien
    .ui.bottom.attached.tab.segment{"data-tab" => "prog-wednesday"}
      .ui.accordion
        .title
          %i.dropdown.icon
          %strong 15h-18h
          \: Vieilleries mais bonneries - Diablo 2
        .content
          %p
            On remonte le temps et on joue à des jeux qui m'ont bercés même si je ne rentrais déjà plus dans un berceau quand j'ai commencé à jouer. On va commencer avec Diablo 2.
        .title
          %i.dropdown.icon
          %strong 19h-23h
          \: Diablo III - Saison 15
        .content
          %p
            On rush la saison 15 en saisonnier nécromancien
    .ui.bottom.attached.tab.segment{"data-tab" => "prog-thursday"}
      .ui.accordion
        .title
          %i.dropdown.icon
          %strong 19h-23h
          \: Diablo III - Saison 15
        .content
          %p
            On rush la saison 15 en saisonnier nécromancien
    .ui.bottom.attached.tab.segment{"data-tab" => "prog-friday"}
      .ui.accordion
        .title
          %i.dropdown.icon
          %strong 19h-23h
          \: Diablo III - Saison 15
        .content
          %p
            On rush la saison 15 en saisonnier nécromancien
    .ui.bottom.attached.tab.segment{"data-tab" => "prog-saturday"}
      .ui.accordion
        .title
          %i.dropdown.icon
          %strong 19h-23h
          \: Diablo III - Saison 15
        .content
          %p
            On rush la saison 15 en saisonnier nécromancien
    .ui.bottom.attached.tab.segment{"data-tab" => "prog-sunday"}
      .ui.accordion
        .title
          %i.dropdown.icon
          %strong 15h-18h
          \: Jouons à Destiny 2
        .content
          %p
            On prend un jeu, on le commence et on le fini mais pas forcément la même soirée, hein. En ce moment, c'est Destiny 2.
        .title
          %i.dropdown.icon
          %strong 19h-23h
          \: Diablo III - Saison 15
        .content
          %p
            On rush la saison 15 en saisonnier nécromancien
  /
    <div class="ui inverted vertical footer segment">
    <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
    <div class="three wide column">
    <h4 class="ui inverted header">About</h4>
    <div class="ui inverted link list">
    <a href="#" class="item">Sitemap</a>
    <a href="#" class="item">Contact Us</a>
    <a href="#" class="item">Religious Ceremonies</a>
    <a href="#" class="item">Gazebo Plans</a>
    </div>
    </div>
    <div class="three wide column">
    <h4 class="ui inverted header">Services</h4>
    <div class="ui inverted link list">
    <a href="#" class="item">Banana Pre-Order</a>
    <a href="#" class="item">DNA FAQ</a>
    <a href="#" class="item">How To Access</a>
    <a href="#" class="item">Favorite X-Men</a>
    </div>
    </div>
    <div class="seven wide column">
    <h4 class="ui inverted header">Footer Header</h4>
    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
    </div>
    </div>
    </div>
    </div>
