%section
  - @programs.each.with_index do |program, index|
    - next if program[:content].empty?

    %article.one-third
      %strong= program[:title]
      %p= program[:content].join('</p><p>').html_safe
